<footer>

</footer>
<div class="developedBy" id="developedBy" style="width:100%;text-align:center;font-family:'helvetica'; letter-spacing: 0.1em;font-size:10px;background-color:#0E0E10;color:#fff;padding:10px 0;">Designed and developed by <a href="https://georgeparesishvili.com/" style="color:#fff"><b>George&nbsp;Paresishvili</b></a></div>