<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#000" />
  <link rel="apple-touch-icon" href="/assets/img/core/gp_logo.png?v=5" />
  <link rel="icon" href="/assets/img/core/favicon.ico?v=7" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="description" content="Place where GP Blogs and Fiddles" />
  <meta property="og:title" content="GP's Blog" />
  <meta property="og:description" content="Place where GP Blogs and Fiddles" />
  <meta property="og:locale" content="en-US" />
  <meta property="og:image" content="/assets/core/gp_banner_s.jpg" />
  <title>GP's Blog</title>

  <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)" />
  <link rel="stylesheet" href="/css/light.css" media="(prefers-color-scheme: light)" />
  <link rel="stylesheet" href="/css/style.css?=v1.01" />

  <script src="/js/main.js" defer></script>
</head>
