<header class="gp-header">
  <figure class="gp-logo">
    <img src="/assets/img/Head_Logo.png" alt="">
  </figure>
  <nav class="gp-gn">
    <ul class="gp-gn-list">
      <li class="gp-gn-list-item"><a href="/" class="gp-gn-anchor">Homepage</a></li>
      <li class="gp-gn-list-item"><a href="/posts/new" class="gp-gn-anchor">New Post</a></li>
      <li class="gp-gn-list-item"><a href="/about" class="gp-gn-anchor">About</a></li>
      <li class="gp-gn-list-item"><a href="/contact" class="gp-gn-anchor">Contact</a></li>
    </ul>
  </nav>
</header>