<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
  <%- include('layouts/nav') -%>
  <main>
    <h1>500</h1>
    <h2>Internal server error</h2>
  </main>
  <%- include('layouts/footer') -%>
</body>
</html>