<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
  <%- include('layouts/nav') -%>
  <main>
    <h1>About Me</h1>
    <p>Hello! My name is Giorgi (George) Paresishvili.</p>
    <p>Based in 
      <a target="_blank" href="https://www.google.com/maps/place/Georgia/@42.2989198,41.1144685,7z/data=!3m1!4b1!4m5!3m4!1s0x40440cd7e64f626b:0x4f907964122d4ac2!8m2!3d42.315407!4d43.356892">
      Georgia</a>.</p>
    <p>Working as a web developer at Adjara Group Holding.</p>
    <p>Some of the stuff you will find here is developed by me because I didn't know what to do with my time.</p>
    <p>I love writing in Vanilla JavaScript, but frameworks help you to get things done quicker.</p>
    <p>Some of the other technologies and tools that I use:</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>Node.js</li>
      <li>MongoDB</li>
      <li>Vue.js</li>
      <li>PHP</li>
      <li>WordPress</li>
    </ul>
    <p>Other information is available on my <a href="https://georgeparesishvili.com" target="_blank">Online Resume</a>.</p>
  </main>
  <%- include('layouts/footer') -%>
</body>
</html>