<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
  <%- include('layouts/nav') -%>
  <main>
    <a href="/forex"><- Go Back</a>
    <h1><%- currency %></h1>
  </main>
  <%- include('layouts/footer') -%>
</body>
</html>