<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
  <%- include('layouts/nav') -%>
  <main>
    <h1>Register</h1>
    <% if(errors != null && errors.length > 0) { %>
      <ul class="gp-errors">
        <% for(let i = 0; i < errors.length; i++ ) { %>
          <li class="gp-error"><%= errors[i] %></li>
        <% } %>
      </ul>
    <% } %>
    <form action="/users/register" method="POST">
      <div class="form-control">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username">  
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password">  
      </div>
      <button type="submit">Register</button>
    </form>
  </main>
  <%- include('layouts/footer') -%>
</body>
</html>